<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816675648452-63c6uggpcde4kk8ahsk9c2t2mv2tsftt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816675648452-63c6uggpcde4kk8ahsk9c2t2mv2tsftt</string>
	<key>API_KEY</key>
	<string>AIzaSyDB6mA2wMFPh07ScGbk1woWl1ncGDng2Nk</string>
	<key>GCM_SENDER_ID</key>
	<string>816675648452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CST438.TinDog</string>
	<key>PROJECT_ID</key>
	<string>tindog-a0a14</string>
	<key>STORAGE_BUCKET</key>
	<string>tindog-a0a14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816675648452:ios:10765bb97ab68d10f76a91</string>
</dict>
</plist>